<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Expenses</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<nav>
    <a href="../Views/login.html" type="button" class="btn btn-primary btn-sm float-right">Log Out</a>
</nav>

<body>

    <div class="expense-form">
        <div class="input-group">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="Hotels">Hotels</option>
                <option value="Shopping">Shopping</option>
                <option value="Grocery">Grocery</option>
            </select>
        </div>
        <div class="input-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" placeholder="Enter description">
        </div>
        <div class="input-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" placeholder="Enter price" step="0.01">
        </div>
        <div class="input-group">
            <button onclick="addExpense(event)">Add Expense</button>
        </div>
    </div>
    <div class="expense-form">
        <ul id="parent" class="list-group" style="text-align: center;"> List Of Expenses:
        </ul>
    </div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="expense.js"></script>

</html>